Incorrect path normalization of some abnormal examples from Section 5.4.2

Hi there --

While I was finishing up writing tests for #19, I noticed that the `normpath` function doesn't correctly handle two of the abnormal examples mentioned in [RFC 3986 Section 5.4.2](https://tools.ietf.org/html/rfc3986#section-5.4.2):

```julia
julia> # The following is supposed to come out as http://a/b/c/g.

julia> URIs.normpath("http://a/b/c/g.")
"http://a/b/c/g./"

julia> # The following is supposed to come out as http://a/b/c/g..

julia> URIs.normpath("http://a/b/c/g..")
"http://a/b/c/g../"
```

It seems like the relevant lines here are 471-473:

https://github.com/JuliaWeb/URIs.jl/blob/1c255e927bcbc87db7885ecf840727e74ad219fa/src/URIs.jl#L471-L473